
.page-main{
  min-height: 500px;
}
.flex-row{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.flex-column{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.content-page li{
  min-width: 48px;
  text-align: center;
  border: 1px solid #E5ECF2;
  box-sizing: border-box;
  border-radius: 6px;
  margin-right: 10px;
}
.content-page a{
  display: block;
  font-size: 16px;
  line-height: 18px;
  color: #193F90;
  padding:10px;
}
.content-page .active{
  background-color: #193F90;
}
.content-page .active a{
  color: #fff;
}
